*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'gilroy';
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}
#buttons{
    display: flex;
    margin: 2vw;
}
button{
    margin: 2vw 2vw 0 ;
    padding: 1vw;
    border-radius: 10%;
    font-weight: bolder;
}
input{
    padding: 1vw;
    font-weight: bold;
}
ul{
    margin: 2vw;
}
img{
    height: 8vw;
    width: 8vw;
}
#image{
    width: 13vw;
}
#thebox{
    display: flex;
    flex-direction: column;
    align-items: end;
}
